#Datasets
mnist_dataset/

# Build directories
build/
CMakeFiles/
cmake_install.cmake
CTestTestfile.c*

# CMake cache files
CMakeCache.txt
compile_commands.json

# Compiled object files & libraries
*.o
*.obj
*.a
*.lib
*.so
*.dll
*.dylib
*.exe

# IDE / editor specific
.idea/
.vscode/
.antigravity/
*.sublime-workspace
*~
*.swp
*.log

# External libs (if you build them locally)
external/   # remove this line if you don’t commit the sources

# Test coverage files
coverage/
*.gcov
*.gcda
*.gcno